.searchBox {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to bottom, rgb(111, 91, 55), wheat); */
  background-color: rgb(111, 91, 55);
  position: fixed;
  top: 0%;
  left: 0;
}

.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: wheat;
  border: none;
  color: #4f2e01;
  padding: 1vmax 2vmax;
  width: 50%;
  outline: none;
  border-radius: 0%;
  font: 300 1.3vmax "Encode sans";
  box-sizing: border-box;
  height: 8%;
  border-radius: 5px;
}

.searchBox > input[type="submit"] {
  height: 8%;
  border-radius: 0%;
  background-color: #4f2e01;
  border: none;
  padding: 1vmax;
  width: 10%;
  font: 300 1.1vmax "Encode sans";
  cursor: pointer;
  color: wheat;
  transition: all 0.5s;
  border-radius: 5px;
}

.searchBox > input[type="submit"]:hover {
  background-color: rgb(250, 215, 149);
  color: #4f2e01;
}

@media screen and (max-width: 600px) {
  .searchBox > input[type="text"] {
    width: 100%;
    font: 300 4vw "Encode sans";
    height: 10%;
  }

  .searchBox > input[type="submit"] {
    height: 10%;
    width: 30%;
    font: 300 4vw "Encode sans";
  }
}
